---
import {styled, ThemeProvider} from "@qinetik/emotion";
import {ColorScheme, getSystemColorScheme, onSystemColorSchemeChange} from "@qinetik/anique/theme/ColorScheme";
import {Column} from "@qinetik/anique/column";
import {AppBar} from "@qinetik/anique/appbar";
import {IconButton} from "@qinetik/anique/icon-button";
import {DrawerItem, DrawerSectionItem, StaticDrawer} from "@qinetik/anique/drawer";
import {createEffect, createSignal, JSX} from "solid-js";
import MenuIcon from "../solid/icons/Menu"
import LightDarkIcon from "../solid/icons/LightDarkIcon";
import {Row} from "@qinetik/anique/row";
import {getThemeValue, removeThemeValue, saveThemeValue} from "../solid/utils/theme-value";
import {Size} from "@qinetik/anique/theme/Size";
import {Link} from "../solid/components/Link"
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique/theme/AniqueThemes";
import HTMLContainer from "./HTMLContainer.astro";
import {AutoSystemColorScheme} from "../solid/components/AutoSystemColorScheme";
import {WebAppBar} from "../solid/components/AppBar";
import {ScrollbarStyles} from "@qinetik/anique/scrollbar";
---

<HTMLContainer
        initialTheme="dark"
        title="Anique"
>

    <Column>

        <WebAppBar
                client:load
        />

        <Row class="bar-content-row">

            <StaticDrawer
                    class="static-drawer"
            >

                <div class="fixed-content">

                    <Link href={"/"}>
                        <DrawerItem>Home</DrawerItem>
                    </Link>

                    <DrawerSectionItem title={"Interactive Components"}/>

                    <Link href={"/components/fab"}>
                        <DrawerItem>
                            Floating Action Button
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/button"}>
                        <DrawerItem>
                            Button
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/checkbox"}>
                        <DrawerItem>
                            Checkbox
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/radio"}>
                        <DrawerItem>
                            Radio
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/slider"}>
                        <DrawerItem>
                            Slider
                        </DrawerItem>
                    </Link>

                    <DrawerSectionItem title={"Layout"}/>
                    <Link href={"/components/column"}>
                        <DrawerItem>
                            Column
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/row"}>
                        <DrawerItem>
                            Row
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/dialog"}>
                        <DrawerItem>
                            Dialog
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/appbar"}>
                        <DrawerItem>
                            AppBar
                        </DrawerItem>
                    </Link>

                    <DrawerSectionItem title={"Text"}/>
                    <Link href={"/components/text"}>
                        <DrawerItem>
                            Native Text
                        </DrawerItem>
                    </Link>
                    <Link href={"/components/headline"}>
                        <DrawerItem>
                            Headline
                        </DrawerItem>
                    </Link>
                    <DrawerSectionItem title={"Other"}/>
                    <Link href={"/components/spinner"}>
                        <DrawerItem>
                            Spinner
                        </DrawerItem>
                    </Link>

                </div>

            </StaticDrawer>

            <div class="content-container">
                <div class="container">
                    <slot/>
                </div>
            </div>
        </Row>

    </Column>

    <AutoSystemColorScheme
            client:load
    />

</HTMLContainer>


<style>
    .content-container {
        display: table-cell;
        vertical-align: top;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        align-items: center;
        flex: 1;
        box-sizing: border-box;
        padding: 4rem 4rem;
    }

    .bar-content-row {
        display: table;
    }

    .static-drawer {
        display: table-cell;
        vertical-align: top;
    }

    .fixed-content {
        position:sticky;
        top:1em;
    }

</style>