---
import {styled, ThemeProvider} from "@qinetik/emotion";
import {ColorScheme, getSystemColorScheme, onSystemColorSchemeChange} from "@qinetik/anique/theme/ColorScheme";
import {Column} from "@qinetik/anique/column";
import {AppBar} from "@qinetik/anique/appbar";
import {IconButton} from "@qinetik/anique/icon-button";
import {DrawerItem, DrawerSectionItem, StaticDrawer} from "@qinetik/anique/drawer";
import {createEffect, createSignal, JSX} from "solid-js";
import MenuIcon from "../solid/icons/Menu"
import {darkTheme, lightTheme} from "@qinetik/anique/theme/Default";
import LightDarkIcon from "../solid/icons/LightDarkIcon";
import {Row} from "@qinetik/anique/row";
import {getThemeValue, removeThemeValue, saveThemeValue} from "../solid/utils/theme-value";
import {Size} from "@qinetik/anique/theme/Size";
import {Link} from "../solid/components/Link"
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique/theme/AniqueThemes";
import HTMLContainer from "./HTMLContainer.astro";
import { AutoSystemColorScheme} from "../solid/components/AutoSystemColorScheme";
import {WebAppBar} from "../solid/components/AppBar";
---

<HTMLContainer
        initialTheme="dark"
        title="Anique"
>

    <Column>

        <WebAppBar
            client:load
        />

        <Row>
            <StaticDrawer>

                <Link href={"/"}>
                    <DrawerItem>Home</DrawerItem>
                </Link>

                <DrawerSectionItem title={"Components"} indent={false}>

                    <DrawerSectionItem title={"Interactive"}>
                        <Link href={"/components/fab"}>
                            <DrawerItem>
                                Floating Action Button
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/button"}>
                            <DrawerItem>
                                Button
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/checkbox"}>
                            <DrawerItem>
                                Checkbox
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/radio"}>
                            <DrawerItem>
                                Radio
                            </DrawerItem>
                        </Link>
                    </DrawerSectionItem>
                    <DrawerSectionItem title={"Layout"}>
                        <Link href={"/components/column"}>
                            <DrawerItem>
                                Column
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/row"}>
                            <DrawerItem>
                                Row
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/dialog"}>
                            <DrawerItem>
                                Dialog
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/appbar"}>
                            <DrawerItem>
                                AppBar
                            </DrawerItem>
                        </Link>
                    </DrawerSectionItem>
                    <DrawerSectionItem title={"Text"}>
                        <Link href={"/components/headings"}>
                            <DrawerItem>
                                Headings
                            </DrawerItem>
                        </Link>
                        <Link href={"/components/paragraph"}>
                            <DrawerItem>
                                Paragraph
                            </DrawerItem>
                        </Link>
                    </DrawerSectionItem>
                    <DrawerSectionItem title={"Other"}>
                        <Link href={"/components/spinner"}>
                            <DrawerItem>
                                Spinner
                            </DrawerItem>
                        </Link>
                    </DrawerSectionItem>
                </DrawerSectionItem>

            </StaticDrawer>

            <div class="container">
                <slot/>
            </div>
        </Row>

    </Column>

    <AutoSystemColorScheme
        client:load
    />

</HTMLContainer>


<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        align-items: center;
        flex:1;
        box-sizing: border-box;
        padding: 4rem 4rem;
    }
</style>