---
import {styled, ThemeProvider} from "@qinetik/emotion";
import {ColorScheme, getSystemColorScheme, onSystemColorSchemeChange} from "@qinetik/anique/theme/ColorScheme";
import {Column} from "@qinetik/anique/column";
import {AppBar} from "@qinetik/anique/appbar";
import {IconButton} from "@qinetik/anique/icon-button";
import {DrawerItem, DrawerSectionItem, StaticDrawer} from "@qinetik/anique/drawer";
import {createEffect, createSignal, JSX} from "solid-js";
import MenuIcon from "../solid/icons/Menu"
import LightDarkIcon from "../solid/icons/LightDarkIcon";
import {Row} from "@qinetik/anique/row";
import {getThemeValue, removeThemeValue, saveThemeValue} from "../solid/utils/theme-value";
import {Size} from "@qinetik/anique/theme/Size";
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique/theme/AniqueThemes";
import HTMLContainer from "./HTMLContainer.astro";
import {AutoSystemColorScheme} from "../solid/components/AutoSystemColorScheme";
import {WebAppBar} from "../solid/components/AppBar";
import {ScrollbarStyles} from "@qinetik/anique/scrollbar";
---

<HTMLContainer
    initialTheme="dark"
    title="Anique"
>

    <Column>

        <WebAppBar
            client:load
        />

        <Row class="bar-content-row">

            <StaticDrawer
                class="static-drawer"
            >

                <div class="fixed-content">

                    <a href={"/"}>
                        <DrawerItem>Home</DrawerItem>
                    </a>

                    <DrawerSectionItem title={"Input"}/>
                    <a href="/components/textfield">
                        <DrawerItem>
                            TextField
                        </DrawerItem>
                    </a>
                    <a href={"/components/fab"}>
                        <DrawerItem>
                            Floating Action Button
                        </DrawerItem>
                    </a>
                    <a href={"/components/button"}>
                        <DrawerItem>
                            Button
                        </DrawerItem>
                    </a>
                    <a href={"/components/icon-button"}>
                        <DrawerItem>
                            IconButton
                        </DrawerItem>
                    </a>
                    <a href={"/components/checkbox"}>
                        <DrawerItem>
                            Checkbox
                        </DrawerItem>
                    </a>
                    <a href={"/components/radio"}>
                        <DrawerItem>
                            Radio
                        </DrawerItem>
                    </a>
                    <a href={"/components/slider"}>
                        <DrawerItem>
                            Slider
                        </DrawerItem>
                    </a>
                    <a href={"/components/select"}>
                        <DrawerItem>
                            Select
                        </DrawerItem>
                    </a>
                    <a href={"/components/dropdown"}>
                        <DrawerItem>
                            Dropdown
                        </DrawerItem>
                    </a>

                    <DrawerSectionItem title={"Layout"}/>
                    <a href={"/components/column"}>
                        <DrawerItem>
                            Column
                        </DrawerItem>
                    </a>
                    <a href={"/components/row"}>
                        <DrawerItem>
                            Row
                        </DrawerItem>
                    </a>
                    <a href={"/components/dialog"}>
                        <DrawerItem>
                            Dialog
                        </DrawerItem>
                    </a>
                    <a href={"/components/appbar"}>
                        <DrawerItem>
                            AppBar
                        </DrawerItem>
                    </a>
                    <a href={"/components/drawer"}>
                        <DrawerItem>
                            Drawer
                        </DrawerItem>
                    </a>

                    <DrawerSectionItem title={"Text"}/>
                    <a href={"/components/text"}>
                        <DrawerItem>
                            Native Text
                        </DrawerItem>
                    </a>
                    <a href={"/components/headline"}>
                        <DrawerItem>
                            Headline
                        </DrawerItem>
                    </a>

                    <DrawerSectionItem title={"Feedback"}/>
                    <a href={"/components/alert"}>
                        <DrawerItem>
                            Alert
                        </DrawerItem>
                    </a>
                    <a href={"/components/spinner"}>
                        <DrawerItem>
                            Spinner
                        </DrawerItem>
                    </a>

                </div>

            </StaticDrawer>

            <div class="content-container">
                <div class="container">
                    <slot/>
                </div>
            </div>
        </Row>

    </Column>

    <AutoSystemColorScheme
        client:load
    />

</HTMLContainer>


<style>
    .content-container {
        display: table-cell;
        vertical-align: top;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        align-items: center;
        flex: 1;
        box-sizing: border-box;
        padding: 4rem 4rem;
    }

    .bar-content-row {
        display: table;
    }

    .static-drawer {
        display: table-cell;
        vertical-align: top;
    }

    .static-drawer a {
        text-decoration: none;
    }

    .fixed-content {
        position: sticky;
        top: 1em;
    }

</style>