---
import {styled, ThemeProvider} from "@qinetik/emotion";
import {ColorScheme, getSystemColorScheme, onSystemColorSchemeChange} from "@qinetik/anique/theme/ColorScheme";
import {Column} from "@qinetik/anique/column";
import {AppBar} from "@qinetik/anique/appbar";
import {IconButton} from "@qinetik/anique/icon-button";
import {DrawerItem, DrawerSectionItem, StaticDrawer} from "@qinetik/anique/drawer";
import {createEffect, createSignal, JSX} from "solid-js";
import MenuIcon from "../solid/icons/Menu"
import LightDarkIcon from "../solid/icons/LightDarkIcon";
import {Row} from "@qinetik/anique/row";
import {getThemeValue, removeThemeValue, saveThemeValue} from "../solid/utils/theme-value";
import {Size} from "@qinetik/anique/theme/Size";
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique/theme/AniqueThemes";
import HTMLContainer from "./HTMLContainer.astro";
import {AutoSystemColorScheme} from "../solid/components/AutoSystemColorScheme";
import {WebAppBar} from "../solid/components/AppBar";
import {ScrollbarStyles} from "@qinetik/anique/scrollbar";
import AnchorDrawerItem from "../solid/components/AnchorDrawerItem";

const path = Astro.url.pathname
---

<HTMLContainer
    initialTheme="dark"
    title="Anique"
>

    <Column>

        <WebAppBar
            client:load
        />

        <Row class="bar-content-row">

            <StaticDrawer
                class="static-drawer"
            >

                <div class="fixed-content">

                    <AnchorDrawerItem href={"/"} current={path}>
                        Home
                    </AnchorDrawerItem>

                    <DrawerSectionItem title={"Input"}/>
                    <AnchorDrawerItem href="/components/textfield" current={path}>
                        TextField
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/fab"} current={path}>
                        Floating Action Button
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/button"} current={path}>
                        Button
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/icon-button"} current={path}>
                        IconButton
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/checkbox"} current={path}>
                        Checkbox
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/radio"} current={path}>
                        Radio
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/slider"} current={path}>
                        Slider
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/select"} current={path}>
                        Select
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/dropdown"} current={path}>
                        Dropdown
                    </AnchorDrawerItem>

                    <DrawerSectionItem title={"Layout"}/>
                    <AnchorDrawerItem href={"/components/column"} current={path}>
                        Column
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/row"} current={path}>
                        Row
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/dialog"} current={path}>
                        Dialog
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/appbar"} current={path}>
                        AppBar
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/drawer"} current={path}>
                        Drawer
                    </AnchorDrawerItem>

                    <DrawerSectionItem title={"Text"}/>
                    <AnchorDrawerItem href={"/components/text"} current={path}>
                        Native Text
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/headline"} current={path}>
                        Headline
                    </AnchorDrawerItem>

                    <DrawerSectionItem title={"Feedback"}/>
                    <AnchorDrawerItem href={"/components/alert"} current={path}>
                        Alert
                    </AnchorDrawerItem>
                    <AnchorDrawerItem href={"/components/spinner"} current={path}>
                        Spinner
                    </AnchorDrawerItem>

                </div>

            </StaticDrawer>

            <div class="content-container">
                <div class="container">
                    <slot/>
                </div>
            </div>
        </Row>

    </Column>

    <AutoSystemColorScheme
        client:load
    />

</HTMLContainer>


<style>
    .content-container {
        display: table-cell;
        vertical-align: top;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        align-items: center;
        flex: 1;
        box-sizing: border-box;
        padding: 4rem 4rem;
    }

    .bar-content-row {
        display: table;
    }

    .static-drawer {
        display: table-cell;
        vertical-align: top;
    }

    .static-drawer a {
        text-decoration: none;
    }

    .fixed-content {
        position: sticky;
        top: 1em;
    }

</style>